<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <h1> <%= htmlWebpackPlugin.options.header %> </h1>
    <a id="initWeb3" href="#">Init Web3</a>
    <h3>After connecting to web3, type "dsa' into console to start jamming with building DeFi apps.</h3>

    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.6/dist/web3.min.js"></script>
    <script src="https://apis.instadapp.io/js/web3Modal/config.js"></script>
    <script src="https://apis.instadapp.io/js/web3Modal/connect.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  
    <script>
      
      // calling this function in web3Modal/connect.js
      $("#initWeb3").on("click", function(e) {
          e.preventDefault();
          InitWeb3()
      })
 
      $(window).on( "load", async function(e) {
        e.preventDefault();
        await InitWeb3()
        window.dsa = new DSA(window.web3)
      });
    </script>

  </body>
</html>