<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <h1> <%= htmlWebpackPlugin.options.header %> </h1>
    <h3>type "dsa' into window to get started</h3>
    
    <my-app></my-app>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.6/dist/web3.min.js"></script>
    <script src="https://apis.instadapp.io/js/web3Modal/config.js"></script>
    <script src="https://apis.instadapp.io/js/web3/connect.js"></script>
  
  </body>
</html>